* {
    border-style: border-box;
}

/* Change page body elements */
body {
    background-color:  rgba(220, 20, 20, 0.438);;
}

/* Change page p elements */
p {
    padding-top: 10px;
}

/* Change page container elements */
.container {
    background-color: firebrick;
    color: ghostwhite;
    border-radius: 5px;
    margin-top: 50px;
}

/* Change form elements */
form {
    padding-bottom: 40px;
}

/* Navbar selector to edit */
.navbar.navbar-expand-lg.navbar-dark {
    background-color: rgba(220, 20, 20, 0.438);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Edit max img-thumbnail size */
.img-thumbnail {
    max-width: 40%;
    height: auto;
}

/* Created class to confine img to specific dimensions, etc */
.rounded.float-start {
    margin: auto;
    width: 200px;
    height: 200px;
    border: 5px ghostwhite;
    border-style: solid;
    margin: 10px;
}

/* Created class to confine img to specific dimensions, etc */
.rounded.float-end {
    margin: auto;
    width: 200px;
    height: 200px;
    border: 5px ghostwhite;
    border-style: solid;
    margin: 10px;
}