* {
    border-style: border-box;
}

/* Change page body elements */
body {
    background-color:  rgba(220, 20, 20, 0.438);;
}

/* Change page container elements */
.container {
    background-color: firebrick;
    color: ghostwhite;
}

form {
    
}

/* Navbar selector to edit */
.navbar.navbar-expand-lg.navbar-dark {
    background-color: rgba(220, 20, 20, 0.438);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Edit max img-thumbnail size */
.img-thumbnail {
    max-width: 40%;
    height: auto;
}

/* Created class to confine img to specific dimensions, etc */
.rounded.float-start {
    margin: auto;
    width: 200px;
    height: 200px;
}

/* Created class to confine img to specific dimensions, etc */
.rounded.float-end {
    margin: auto;
    width: 200px;
    height: 200px;
}