* {
  border-style: border-box;
}

/* Change page body elements */
body {
  background-image: linear-gradient(
    to bottom right,
    rgb(73, 177, 218),
    rgb(0, 141, 235),
    rgb(255, 255, 255)
  );
}

/* Change h1 elements */
h1 {
  padding: 5px;
}

/* Change page p elements */
p {
  padding-top: 10px;
}

/* Change page a elements */
a {
  color: white;
}

/* Hover pseudoclass for links */
a:hover {
  color: rgba(0, 47, 255, 0.726);
}

/* Change form elements */
form {
  padding-bottom: 40px;
}

/* Change footer elements */
footer {
  background-color: rgba(0, 141, 235, 0.795);
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 22px;
  color: ghostwhite;
  border-top: 2px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 60%;
  margin-bottom: 0px;
}

/* Change page container elements */
.container {
  background-color: rgba(0, 141, 235, 0.795);
  color: ghostwhite;
  border-radius: 5px;
  margin-top: 50px;
  width: 90%;
  border: 5px solid white;
  box-shadow: -5px 6px 10px 1px black;
  padding: 1em;
}

/* Navbar selector to edit */
.navbar.navbar-expand-lg.navbar-dark {
  background-color: rgba(255, 255, 255, 0.63);
  border-bottom: 2px solid white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Navbar main name element */
.navbar-brand {
  padding: 8px;
}

/* Added pseudoclass for navbar visited */
.navbar-brand:visited {
  background-color: rgba(0, 141, 235, 0.795);
}

/* Added pseudoclasses for navbar button hover */
.navbar-brand,
.nav-item-btn:hover {
  background-color: rgb(0, 141, 235);
  border-radius: 5px;
}

/* Edit max img-fluid elements */
.img-fluid {
  float: left;
  border: 5px ghostwhite;
  border-style: solid;
  margin-bottom: 15px;
  border-radius: 5px;
}

/* Created class to confine img to specific dimensions, etc */
.rounded {
  border: 5px ghostwhite;
  border-style: solid;
  margin: 10px 0;
}

/* Change Submit button elements */
.btn.btn-primary {
  background-color: lightcoral;
  border-style: solid;
  border-color: ghostwhite;
  border-width: 2px;
}

/* Added psuedo class for Submit button */
.btn.btn-primary:hover {
  background-color: darkred;
}

/* Adjust portfolio container elements */
#port-container {
  padding-bottom: 20px;
  width: 90%;
}

.portfolio {
  justify-content: space-between;
}
